@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
:root {
    --rojo: #f84a06;
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #dddddd;
    --amarillo: rgb(255 255 0);
}
main{
    background: white;
}
.titulos{
    color: var(--negro);
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
}
body {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif ;
}
.banner-home{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    position: relative;
    background-repeat: no-repeat;
}
.redes{
    position: relative;
    float: right;
    margin-top: 20px
}
.redes i{
    color: var(--blanco);
    margin: 5px 10px;
}
.buscador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    top: 445px;
}
.buscador #select{
    background-color: var(--amarillo);
    width: 175px;
    border: none;
}
.buscador #select_izq_neg{
    background-color: var(--negro);
    width: 175px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    color: var(--blanco);
}
.buscador #select_izq{
    background-color: var(--amarillo);
    width: 175px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    color: var(--negro);
}
.buscador #select_der{
    background-color: var(--amarillo);
    width: 175px;
    border-radius: 0px 50px 50px 0px;
    color: var(--negro);
}
.buscador #btn_buscar{
    background-color: var(--rojo);
    width: 175px;
    border-radius: 0px 50px 50px 0px;
    padding: 7px 0px;
}
.buscador #input_form{
    background-color: var(--amarillo);
    width: 120px;
    border: none;
    color: var(--negro);
}
.buscadorPropiedades{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}
/*destacados home*/
.destacados{
    padding: 40px 0px;
    margin: 15px 130px;
}
.destacados .card{
    border-radius: 10px;
    background-color: var(--amarillo);
}
.destacados .card-img, .card-img-top{
    margin: 0;
    height: 215px;
}
.destacados .card, .card-body p{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}
.destacados .card p.prop{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}
/*banner-home-medio*/
.banner-home-medio{
    width: 100%;
    height: 135vh;
    min-height: 500px;
    position: relative;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 41px 40px #ffffff;
}
.banner-home-medio h2.title-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    color: var(--negro);
    text-align: center;

}
/*inmobiliaria*/
.new-inmobiliaria{
    padding: 0 0px;
    margin: -50px 130px;
    z-index: 100;
}
.new-inmobiliaria .card{
    border-radius: 10px;
    background-color: var(--gris);
}
.new-inmobiliaria .card-img, .card-img-top{
    margin: 0;
    height: 215px;
}
.new-inmobiliaria .card, .card-body p{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
}
.new-inmobiliaria .card p.prop{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}
/*banner-home-medio*/
.contacto{
    padding: 40px 0px;
    margin: 15px 0px;
    width: 100%;
    height: 138vh;
    min-height: 500px;
    position: relative;
    background-repeat: no-repeat;
}
.contacto .contenido{
    margin: 70px 130px;
}
.contacto h2{
    font-size: 35px;
    font-weight: 900;
    margin: 5px 0px;
}
.contacto h4{
    font-size: 20px;
    font-weight: 900;
    margin: 5px 0px;
}

/*Nuevo proyecto*/
.new-proyect{
    padding: 40px 0px;
    margin: 15px 130px;
}
.new-proyect .card{
    border-radius: 10px;
    background-color: var(--gris);
}
.new-proyect .card-img, .card-img-top{
    margin: 0;
    height: 215px;
}
.new-proyect .card, .card-body p{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
}
.new-proyect .card p.prop{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .banner-home{
        width: 100%;
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
    }
    .new-proyect .card-img, .card-img-top {
        width: 100%;
        height: 175px;
        margin: 0px;
    }
}
@media screen and (max-width: 768px) {
    .banner-home{
        height: 75vh;
    }
    .banner-home-medio h2.title-banner{
        font-size: 30px;
    }
    .banner-home-medio {
         height: 75vh;
     }
    .banner-vender h2.title-banner{
        font-size: 30px;
    }
    .destacados .card{
        width: 180px;
    }
    .new-inmobiliaria .card{
        width: 180px;
    }
    .new-proyect .card{
        width: 180px;
    }
    .como-vender .contenido{
        padding: 0px 0px;
    }
    footer i{
        font-size: 16px;
    }
    .buscador {
        top: 230px;
    }
    .buscador #select{
        width: 115px;
    }
    .buscador #select_izq {
        width: 115px;
    }
    .buscador #select_der {
        width: 115px;
    }
    .buscador input {
        width: 115px;
    }
    .buscador #btn_buscar{
        width: 115px;
    }
}
@media screen and (max-width: 411px) {
    .banner-home-medio img{
        height: 400px;
    }
    .destacados {
        padding: 0px 32px;
        margin: 20px 0px;
    }
    .destacados .card {
         width: 100%;
    }
    .new-proyect {
        padding: 40px 0px;
        margin: 14px 0;
    }
    .new-inmobiliaria {
         padding: 0px 32px;
         margin: 20px 0px;
    }
    .new-inmobiliaria .card {
        width: 100%;
    }
    .contacto .contenido{
        margin: 0 0;
    }
    .banner-vender img{
        height: 300px;
    }
    .buscador {
        top: 230px;
    }
    .buscador #select{
        width: 80px;
    }
    .buscador #select_izq {
        width: 120px
    }
    .buscador #select_der {
        width: 120px;
    }
    .buscador input {
        width: 80px;
    }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}
@media screen and (max-width: 280px) {
    .banner-home-medio img {
        height: 330px;
    }
}

