.buscadorPropiedades{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}
.buscadorPropiedades #select{
    background-color: var(--amarillo);
    width: 175px;
    border: none;
}
.buscadorPropiedades #select_izq{
    background-color: var(--amarillo);
    width: 175px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.buscadorPropiedades #select_der{
    background-color: var(--amarillo);
    width: 175px;
    border-radius: 0px 50px 50px 0px;
}
.buscadorPropiedades #btn_buscar{
    background-color: var(--rojo);
    width: 175px;
    border-radius: 0px 50px 50px 0px;
    padding: 7px 0px;
}
.buscadorPropiedades input{
    background-color: var(--amarillo);
    width: 175px;
    border: none;
}
/*destacados home*/
.propiedades{
    padding: 40px 0px;
    margin: 15px 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.propiedades .card{
    border-radius: 10px;
    background-color: var(--amarillo);
}
.propiedades .card-img, .card-img-top{
    margin: 0;
    height: 215px;
}
.propiedades .card, .card-body p{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}
.propiedades .card p.prop{
    color:var(--negro);
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
    .propiedades{
        margin: 15px 25px;
    }
    .buscadorPropiedades #select{
        width: 115px;
    }
    .buscadorPropiedades #select_izq {
        width: 115px;
    }
    .buscadorPropiedades #select_der {
        width: 115px;
    }
    .buscadorPropiedades input{
        width: 115px !important;
    }
    .buscadorPropiedades #btn_buscar{
        width: 115px;
    }
}
@media screen and (max-width: 411px) {
    .propiedades{
        margin: 15px 15px;
    }
    .buscadorPropiedades #select{
        width: 80px;
    }
    .buscadorPropiedades #select_izq {
        width: 120px
    }
    .buscadorPropiedades #select_der {
        width: 120px;
    }
    .buscadorPropiedades input {
        width: 80px;
    }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}
@media screen and (max-width: 280px) {
}


